@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@400;700&display=swap");
@import url("snowfall.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  --text-color: #612b1c;
  --back-color: #fffbd8;

  &.theme-dark {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }

  &.theme-snow {
    background: var(--snow-bg-section);
    color: var(--dark-text-color);
  }

  &.theme-auto {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-back-color);
      color: var(--dark-text-color);
    }
  }
}

.theme-snow,
.theme-light,
.theme-dark,
.theme-auto {
  transition: all .2s ease;
}

.dark-logo {
  display: none;

  body.theme-snow &,
  body.theme-dark & {
    display: block;
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      display: block;
    }
  }
}

.light-logo {
  display: block;

  body.theme-snow &,
  body.theme-dark & {
    display: none;
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      display: none;
    }
  }
}

:root {
  --dark-nav-color: #111;
  --dark-back-color: #27292d;
  --dark-item-color: #434343;
  --dark-text-color: #939496;
  --dark-title-color: #e9eaea;
  --light-elem-color: #f3f3f3;
  --snow-bg-section: transparent;
  --snow-bg-item: rgba(67, 67, 67, .5);
  --snow-bg-header: linear-gradient(#123, #111);
  --snow-bg-footer: linear-gradient(#111, #123);
  --snow-bg-rad: radial-gradient(#111, #123);
  --snow-bg-main: linear-gradient(#060a21 0%, #0a1638 80%, #181f59 100%);
}

.inner {
  max-width: 1146px;
  width: 100%;
  padding: 57px 27px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: #612b1c;
  margin: 0;

  body.theme-snow & {
    color: var(--dark-title-color);
    text-shadow: -2px -2px 4px var(--light-elem-color);
  }

  body.theme-dark & {
    color: var(--dark-title-color);
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      color: var(--dark-title-color);
    }
  }

  @media screen and (max-width: 650px) {
    font-size: 26px;
    padding: 5px;
    margin: 5px;
  }
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 14px 29px 19px;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    height: 50px;
    padding: 10px 20px 15px;
    font-size: 14px;
  }
  @media screen and (max-width: 425px) {
    font-size: 12px;
    padding: 10px 14px 15px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }

  body.theme-snow & {
    border: none;
    box-shadow: inset 0 6px 8px -2px var(--light-elem-color);
    transition-duration: .3s;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px 1px #ccc,
      inset 0 6px 8px -2px var(--light-elem-color);
      transition-duration: .3s;
    }
  }

  body.theme-dark & {
    &:hover,
    &:focus {
      box-shadow: 0 0 10px 1px #ccc;
      transition-duration: .3s;
    }

    &:active {
      box-shadow: none;
      transition-duration: .3s;
    }
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      &:hover,
      &:focus {
        box-shadow: 0 0 10px 1px #ccc;
        transition-duration: .3s;
      }

      &:active {
        box-shadow: none;
        transition-duration: .3s;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 244px;
  margin-right: 26px;

  &__item {
    list-style: none;
    width: 26px;
    height: 26px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #612b1c;
    position: relative;
    transition-duration: .3s;

    body.theme-snow &,
    body.theme-dark & {
      background: transparent;

      &:hover,
      &:focus {
        box-shadow: 0 0 20px 2px #ccc;
        transition-duration: .3s;
      }

      &:active {
        box-shadow: none;
        transition-duration: .3s;
      }
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: transparent;

        &:hover,
        &:focus {
          box-shadow: 0 0 20px 2px #ccc;
          transition-duration: .3s;
        }

        &:active {
          box-shadow: none;
          transition-duration: .3s;
        }
      }
    }

    &:hover,
    &:focus {
      opacity: .7;
      transition-duration: .3s;
    }

    &:active {
      opacity: .9;
      transition-duration: .3s;
    }
  }

  &__icon {
    fill: #fff06a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    body.theme-snow &,
    body.theme-dark & {
      fill: var(--dark-title-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        fill: var(--dark-title-color);
      }
    }
  }
}

/*--------------Slick-Slider--------------*/
.slick-slider {
  width: 100%;
  height: auto;

  .slick-dots {
    width: 108px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    & li {
      margin: 0;
      width: 7px;
      height: 7px;
    }

    & li button::before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: linear-gradient(180deg, #FFC500 0%, #FF9346 100%);
      opacity: 1;

      body.theme-snow &,
      body.theme-dark & {
        background: linear-gradient(180deg, #FFC500 0%, #b00000 100%);
      }

      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          background: linear-gradient(180deg, #FFC500 0%, #b00000 100%);
        }
      }
    }

    & li button:hover::before {
      opacity: .7;
    }

    & li.slick-active button::before {
      background: #612b1c;

      body.theme-snow &,
      body.theme-dark & {
        background: var(--light-elem-color);
      }

      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          background: var(--light-elem-color);
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    display: block;
    position: absolute;
    top: 100%;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: 2;

    @media screen and (max-width: 650px) {
      border-color: #612b1c;
      width: 38px;
      height: 38px;

      body.theme-snow &,
      body.theme-dark & {
        border-color: var(--light-elem-color);
      }
      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          border-color: var(--light-elem-color);
        }
      }
    }
    @media screen and (max-width: 600px) {
      top: 50%;
      width: 28px;
      border-radius: 5px;
    }
  }

  .slick-prev {
    left: 50%;
    transform: translateX(-130px);

    @media screen and (max-width: 600px) {
      transform: translate(-220px, -50%);
    }
    @media screen and (max-width: 475px) {
      transform: translate(-180px, -50%);
    }
    @media screen and (max-width: 400px) {
      transform: translate(-160px, -50%);
    }
    @media screen and (max-width: 350px) {
      transform: translate(-148px, -50%);
    }
  }

  .slick-next {
    right: 50%;
    transform: translateX(130px);

    @media screen and (max-width: 600px) {
      transform: translate(220px, -50%);
    }
    @media screen and (max-width: 475px) {
      transform: translate(180px, -50%);
    }
    @media screen and (max-width: 400px) {
      transform: translate(160px, -50%);
    }
    @media screen and (max-width: 350px) {
      transform: translate(148px, -50%);
    }
  }

  .slick-prev::before {
    content: "\27F5";

    @media screen and (max-width: 650px) {
      transform: rotate(135deg) translate(-30%, 50%);
    }
  }

  .slick-next::before {
    content: "\27F6";

    @media screen and (max-width: 650px) {
      transform: rotate(-45deg) translate(-10%, -80%);
    }
  }

  .slick-prev::before,
  .slick-next::before {
    display: block;
    position: absolute;
    font-family: inherit;
    color: #612b1c;
    font-size: 26px;
    line-height: 0;

    body.theme-snow &,
    body.theme-dark & {
      color: var(--light-elem-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        color: var(--light-elem-color);
      }
    }

    &:hover,
    &:focus {
      opacity: .7;
    }

    @media screen and (max-width: 650px) {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      border: solid;
      border-color: #612b1c;
      border-width: 0 2px 2px 0;

      body.theme-snow &,
      body.theme-dark & {
        border-color: var(--light-elem-color);
      }
      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          border-color: var(--light-elem-color);
        }
      }
    }
  }
}

/*-----------------Header-----------------*/
.header {
  padding: 9px 0;
  background: #fff06a;
  box-sizing: border-box;

  body.theme-snow & {
    background: var(--snow-bg-section);
    color: var(--dark-text-color);
  }

  body.theme-dark & {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-back-color);
      color: var(--dark-text-color);
    }
  }

  @media screen and (max-width: 850px) {
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: 0 2px 10px 3px #612b1c;
    z-index: 4;

    body.theme-snow & {
      background: var(--snow-bg-header);
    }

    body.theme-snow &,
    body.theme-dark & {
      box-shadow: 0 0 5px 1px var(--light-elem-color);
    }
    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 5px 1px var(--light-elem-color);
      }
    }
  }

  #wpadminbar + & {
    @media screen and (max-width: 850px) {
      top: 32px;
    }
    @media screen and (max-width: 782px) {
      top: 46px;
    }
    @media screen and (max-width: 600px) {
      top: 0;
    }
  }

  .inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 54px;
    padding: 0;

    @media screen and (max-width: 850px) {
      height: auto;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 560px) {
      justify-content: center;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 850px) {
    body.theme-snow &,
    body.theme-dark & {
      box-shadow: 0 0 5px 1px var(--light-elem-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 5px 1px var(--light-elem-color);
      }
    }
  }

  .custom-logo {
    width: 316px;
    height: 40px;
    margin: 0 10px;

    @media screen and (max-width: 850px) {
      margin: 0 20px;
    }
    @media screen and (max-width: 560px) {
      margin: 0;
    }
    @media screen and (max-width: 425px) {
      width: 300px;
      height: auto;
    }
  }

  .custom-logo-link {
    width: 100%;
    height: auto;
    display: none;

    @media screen and (max-width: 850px) {
      display: block;
    }
  }

  &__social-list {
    margin: 0 20px;

    @media screen and (max-width: 850px) {
      margin: 10px 20px;

      order: 4;
      flex-grow: 1;
      width: 90%;
    }
    @media screen and (max-width: 700px) {
      margin: 10px;
    }
    @media screen and (max-width: 560px) {
      max-width: 500px;
      order: initial;
    }
  }
}

/*-----------------Promo------------------*/
.promo {
  background: #fff06a;

  body.theme-snow & {
    background: var(--snow-bg-section);
    color: var(--dark-text-color);
  }

  body.theme-dark & {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-back-color);
      color: var(--dark-text-color);
    }
  }

  .inner {
    padding: 48px 27px 64px 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @media screen and (max-width: 1050px) {
      padding-left: 32%;
    }
    @media screen and (max-width: 850px) {
      padding: 30px 15px;
      align-items: center;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1;

    @media screen and (max-width: 850px) {
      font-size: 48px;
    }
  }

  &__quote-block {
    max-width: 515px;
    width: 100%;
    margin: 30px 0 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 600px) {
      margin: 20px 0;
      white-space: nowrap;
    }
  }

  &__quote-icon {
    margin: 8px 4px 0 0;
  }

  &__blockquote {
    max-width: 450px;
    width: 100%;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.33;
    text-align: left;
    margin-left: 10px;
    padding: 0 20px;

    body.theme-snow & {
      background: var(--snow-bg-item);
      border-radius: 10px;
    }

    body.theme-dark & {
      background: var(--dark-item-color);
      border-radius: 10px;
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-item-color);
        border-radius: 10px;
      }
    }

    @media screen and (max-width: 650px) {
      width: 70%;
    }
  }

  &__slider {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }

  &__item {
    width: 100%;
  }

  &__text {
    font-size: 12px;
    padding: 16px 0;
    margin: 0;
    white-space: normal;
  }

  &__author {
    font-size: 10px;
  }

  &__btn {
    margin-left: 20px;
    background: #f82e2c;

    body.theme-snow &,
    body.theme-dark & {
      background: #8f0000;
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: #8f0000;
      }
    }

    @media screen and (max-width: 850px) {
      margin: 0 auto;
    }
  }

  &__btn-icon {
    vertical-align: middle;
    margin: 0 20px 2px 0;

    @media screen and (max-width: 850px) {
      margin-right: 6px;
    }
  }
}

/*---------------Navigation---------------*/
.nav {
  z-index: 3;
  background: #612b1c;
  top: -80px;
  transition-duration: .5s;

  @media screen and (min-width: 851px) {
    body.theme-snow & {
      background: var(--snow-bg-section);
      box-shadow: inset 0 20px 20px -20px var(--light-elem-color),
      inset 0 -20px 20px -20px var(--light-elem-color);
    }

    body.theme-dark & {
      background: var(--dark-nav-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-nav-color);
      }
    }
  }

  &--sticky {
    position: sticky;
    top: 0;

    body.theme-snow & {
      background: var(--snow-bg-main);
      box-shadow: 0 0 10px 2px var(--light-elem-color);
    }
  }

  #wpadminbar + header + main &--sticky {
    @media screen and (min-width: 851px) {
      top: 32px;
    }
  }

  &--sticky ~ #about {
    @media screen and (min-width: 851px) {
      margin-top: 168px;
    }
  }

  @media screen and (max-width: 850px) {
    position: fixed;
    top: 0;
    background-color: transparent;
  }

  .inner {
    min-height: 248px;
    padding: 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1200px) {
      justify-content: space-around;
      padding: 20px;
    }
    @media screen and (max-width: 850px) {
      height: 100vh;
      padding: 0;
      transition-duration: .5s;
      left: 0;
      right: -100%;
    }

    &--sticky {
      @media screen and (min-width: 851px) {
        justify-content: space-around;
        min-height: 80px;
        padding: 10px;
      }
    }

    &--menu-wrapper {
      @media screen and (max-width: 850px) {
        width: 100vw;
        background: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition-duration: .5s;
        right: 0;
      }
    }
  }

  &__camera-roll {
    position: absolute;
    right: calc(100% - 274px);
    bottom: 0;

    @media screen and (max-width: 1200px) {
      right: calc(100% - 266px);
      bottom: 100%;
    }
    @media screen and (max-width: 850px) {
      display: none;
    }

    &--hidden {
      @media screen and (min-width: 851px) {
        display: none;
      }
    }
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-field {
    display: none;
    width: 54px;
    height: 54px;
    margin: 0 20px;
    background: #612b1c;
    cursor: pointer;

    @media screen and (max-width: 850px) {
      display: flex;
      margin: 6px 20px;
    }

    body.theme-snow &,
    body.theme-dark & {
      background: var(--dark-title-color);
      border-radius: 10px;
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-title-color);
        border-radius: 10px;
      }
    }
  }

  &__menu-btn {
    display: block;
    margin: auto;
    width: 22px;
    height: 2px;
    background: #fff;
    position: relative;
    transition-duration: .7s;

    body.theme-snow &,
    body.theme-dark & {
      background: var(--dark-nav-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-nav-color);
      }
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      background: #fff;
      position: absolute;
      transition-duration: .7s;

      body.theme-snow &,
      body.theme-dark & {
        background: var(--dark-nav-color);
      }

      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          background: var(--dark-nav-color);
        }
      }
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }

  &__menu-field--active &__menu-btn {
    background: transparent;
    transform: rotate(180deg);
    transition-duration: .7s;

    body.theme-snow &,
    body.theme-dark & {
      background: transparent;
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: transparent;
      }
    }

    &::before,
    &::after {
      top: 50%;
      bottom: initial;
      transition-duration: .7s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__menu {
    max-width: 845px;
    width: 100%;
    display: block;

    &--center-mode {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 850px) {
    &__menu &__list {
      position: absolute;
      right: -100%;
      transition-duration: .7s;
    }

    &__menu--active &__list {
      right: 0;
      transition-duration: .7s;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1100px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 850px) {
      background: #612b1c;
      z-index: 4;

      body.theme-snow & {
        background: linear-gradient(#060a21 0%, #0a1638 80%, #181f59 100%);
      }
      body.theme-dark & {
        background: var(--dark-nav-color);
      }
      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          background: var(--dark-nav-color);
        }
      }
    }
    @media screen and (max-width: 850px) {
      position: fixed;
      top: 130px;
      right: 0;
      width: 300px;
      height: 50vh;
      padding-top: 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;
      flex-wrap: nowrap;
    }
    //@media screen and (max-width: 782px) {
    //  top: 84px;
    //  transition-duration: inherit;
    //}
    //@media (max-width: 772px) and (orientation: portrait) {
    //  top: 130px;
    //  height: calc(100vh - 130px);
    //}
    //@media (max-width: 772px) and (orientation: landscape) {
    //  top: 130px;
    //  width: 100vw;
    //  height: calc(100vh - 130px);
    //}
    @media screen and (max-width: 560px) {
      top: 174px;
      height: calc(100vh - 174px);
    }
    @media screen and (max-width: 425px) {
      width: 100vw;
    }
  }

  #wpadminbar + header + main &__list {
    @media screen and (max-width: 850px) {
      top: 162px;
    }
    @media screen and (max-width: 782px) {
      top: 176px;
      transition-duration: inherit;
    }
    //@media (max-width: 772px) and (orientation: portrait) {
    //  top: 170px;
    //  height: calc(100vh - 170px);
    //}
    //@media (max-width: 772px) and (orientation: landscape) {
    //  top: 170px;
    //  height: calc(100vh - 170px);
    //}
    @media screen and (max-width: 560px) {
      top: 220px;
      height: calc(100vh - 220px);
    }

    &--higher {
      @media screen and (max-width: 600px) {
        top: 130px;
      }
      @media screen and (max-width: 560px) {
        top: 174px;
        height: calc(100vh - 174px);
      }
    }
  }

  &__list .menu-item img._before {
    vertical-align: middle;
    margin-right: 18px;
    width: 62px;
    height: auto;

    @media screen and (max-width: 850px) {
      width: 40px;
    }
  }

  &__list li {
    list-style: none;
    text-align: left;

    @media screen and (max-width: 850px) {
      margin-left: 50px;
      padding: 10px 0 10px 0;
    }
  }

  &__list li a {
    display: inline-block;
    width: 100%;
    height: 100%;

    &:hover span::before,
    &:focus span::before {
      width: 99%;
      left: 0;
      transition: all 0.5s ease;
    }

    &:active span {
      opacity: 0.7;
    }
  }

  &__list li a span {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    color: #fff;
    position: relative;

    @media screen and (max-width: 850px) {
      font-size: 18px;
      padding: 10px 0 6px;
      margin: 10px 0;
      flex-grow: 1;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 1px;
      background: #fff;
      transition: all 0.5s ease;

      @media screen and (max-width: 850px) {
        bottom: 0;
      }
    }
  }
}

/*-----------------About------------------*/
.about {

  .inner {
    padding: 135px 0 90px;

    @media screen and (max-width: 1100px) {
      padding: 112px 25px 0;
    }
    @media screen and (max-width: 850px) {
      padding: 25px;
    }
    @media screen and (max-width: 425px) {
      padding: 25px 10px 10px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__item {
    flex-basis: 30%;
    margin: 5px 5px 50px;
    flex-grow: 1;

    body.theme-snow & {
      background: var(--snow-bg-item);
      border-radius: 10px;
      padding: 0 10px;
    }

    body.theme-dark & {
      background: var(--dark-item-color);
      border-radius: 10px;
      padding: 0 10px;
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-item-color);
        border-radius: 10px;
        padding: 0 10px;
      }
    }

    @media screen and (max-width: 1100px) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      width: 48%;
      margin-bottom: 5px;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 0 0 5px -0px;
    }
  }

  &__item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 205px;
    margin-bottom: 15px;
    position: relative;

    @media screen and (max-width: 1250px) {
      min-height: 300px;
      justify-content: flex-end;
      align-items: flex-start;
    }
    @media screen and (max-width: 600px) {
      justify-content: center;
      min-height: 205px;
      align-items: flex-end;
    }
    @media screen and (max-width: 550px) {
      min-height: 140px;
    }
    @media screen and (max-width: 425px) {
      justify-content: flex-end;
      align-items: flex-start;
      min-height: 225px;
      margin: 0;
    }
  }

  &__avatar-frame {
    position: absolute;
    left: -46px;
    top: -10px;

    @media screen and (max-width: 1250px) {
      left: 0;
    }
    @media screen and (max-width: 550px) {
      left: -20px;
      top: -7px;
      transform: translateY(-30px) scale(0.7);
    }
    @media screen and (max-width: 425px) {
      left: calc(-4px + 50%);
      top: -7px;
      transform: translateX(-50%) translateY(-30px) scale(0.7);
    }
  }

  &__avatar {
    position: absolute;
    left: 0;
    top: 41px;
    width: 121px;
    height: 121px;
    border-radius: 50%;
    z-index: 1;

    @media screen and (max-width: 1250px) {
      left: 46px;
    }
    @media screen and (max-width: 550px) {
      left: 26px;
      transform: translateY(-30px) scale(0.7);
    }
    @media screen and (max-width: 425px) {
      left: 50%;
      transform: translateX(-50%) translateY(-30px) scale(0.7);
    }
  }

  &__author {
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.31;
    text-align: left;
    height: auto;
    margin: 0;
    padding: 0;
  }

  &__author-pos {
    font-size: 14px;
    line-height: 1.31;
    text-align: left;
  }

  &__author,
  &__author-pos {
    width: 60%;
    padding-left: 8px;
    margin-bottom: 12px;

    @media screen and (max-width: 1250px) {
      width: 80%;
      padding-left: 24px;
    }
    @media screen and (max-width: 1100px) {
      padding-left: 0;
    }
    @media screen and (max-width: 600px) {
      justify-content: center;
      width: 50%;
    }
    @media screen and (max-width: 425px) {
      width: 100%;
      text-align: center;
    }
  }

  &__text {
    width: 90%;
    font-size: 16px;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
    padding-left: 26px;

    @media screen and (max-width: 1100px) {
      width: 100%;
      padding-left: 0;
    }
    @media screen and (max-width: 600px) {
      padding: 0 10px;
    }
    @media screen and (max-width: 475px) {
      font-size: 14px;
    }
    @media screen and (max-width: 425px) {
      padding: 0;
    }
  }
}

/*------------Congratulations-------------*/
.congratulations {
  overflow: hidden;

  .inner {
    max-width: 1920px;
    padding: 110px 0 0;

    @media screen and (max-width: 1100px) {
      padding: 112px 0 0;
    }
    @media screen and (max-width: 850px) {
      padding: 20px 0;
    }
  }

  &__slider {
    height: 420px;
    margin: 54px auto;

    @media screen and (max-width: 850px) {
      margin: 10px auto 0;
    }
    @media screen and (max-width: 600px) {
      width: 380px;
    }
    @media screen and (max-width: 475px) {
      width: 300px;
      height: auto;
    }
    @media screen and (max-width: 400px) {
      width: 240px;
      height: auto;
    }

    .slick-dots {
      bottom: 30px;
      align-items: flex-end;
    }

    .slick-prev,
    .slick-next {
      top: 88%;

      @media screen and (max-width: 600px) {
        top: 40%;
      }
      @media screen and (max-width: 475px) {
        top: 44%;
      }
    }
  }

  &__item {
    width: 380px;
    height: 380px;
    position: relative;

    @media screen and (max-width: 475px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 400px) {
      width: 240px;
      height: 240px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__frame {
    width: 380px;
    height: 380px;
    display: block;
    position: absolute;
    top: -12px;
    left: 0;

    @media screen and (max-width: 475px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 400px) {
      width: 240px;
      height: 240px;
    }
  }

  &__photo,
  &__video {
    width: 358px;
    height: 270px;
    display: block;
    position: absolute;
    top: 46px;
    left: 14px;
    cursor: pointer;
    transition-duration: .8s;

    @media screen and (max-width: 475px) {
      width: 282px;
      height: 212px;
      top: 32px;
      left: 11px;
    }
    @media screen and (max-width: 400px) {
      width: 226px;
      height: 170px;
      top: 24px;
      left: 9px;
    }
  }

  &__item:hover &__photo,
  &__item:focus &__photo {
    z-index: 0;
    opacity: 0;
    transition-duration: .8s;
  }

  &__item:hover &__video,
  &__item:focus &__video {
    z-index: 1;
  }
}

/*-----------------Cards------------------*/
.cards {
  .inner {
    padding: 112px 0 110px;

    @media screen and (max-width: 1100px) {
      padding: 112px 0 30px;
    }
    @media screen and (max-width: 850px) {
      padding: 20px 0 30px;
    }
  }

  &__subtitle {
    margin: 16px auto 48px;
    text-align: center;

    @media screen and (max-width: 1100px) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 850px) {
      font-size: 14px;
      margin: 4px auto;
    }
  }

  &__slider {
    height: auto;

    @media screen and (max-width: 850px) {
      margin-bottom: 0;
    }

    .slick-track {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      height: 518px;

      @media screen and (max-width: 650px) {
        height: 464px;
      }
      @media screen and (max-width: 475px) {
        height: 356px;
      }
      @media screen and (max-width: 375px) {
        height: 300px;
      }
    }

    .slick-center {
      @media screen and (min-width: 651px) {
        transform: scale(1.5);
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);
      }
    }

    .slick-prev,
    .slick-next {
      top: 100%;

      @media screen and (max-width: 600px) {
        top: 50%;
      }
    }
  }

  &__item {
    max-width: 264px;
    height: auto;
    border: 10px solid #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 38px 80px;
    transition-duration: 1s;
    cursor: pointer;

    body.theme-snow &,
    body.theme-dark & {
      background: var(--light-elem-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--light-elem-color);
      }
    }

    @media screen and (max-width: 650px) {
      max-width: none;
      width: 362px;
      margin: 30px;
    }
    @media screen and (max-width: 475px) {
      width: 264px;
      height: 293px;
    }
    @media screen and (max-width: 375px) {
      width: 216px;
      height: 240px;
      border: none;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }

  &__btn-box {
    width: 294px;
    margin: 60px auto 0;

    @media screen and (max-width: 475px) {
      width: 254px;
      margin-top: 20px;
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    background: #612b1c;

    body.theme-snow &,
    body.theme-dark & {
      background: var(--dark-nav-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-nav-color);
      }
    }
  }

  &__btn-icon {
    vertical-align: middle;
    margin: 0 8px 4px 0;
  }

  &__download-formats {
    text-align: center;
    margin-top: 34px;

    @media screen and (max-width: 650px) {
      margin-top: 20px;
      font-size: 12px;
    }
  }
}

/*----------------Footer------------------*/
.footer {
  background: #fff06a;

  body.theme-snow & {
    background: var(--snow-bg-footer);
  }

  body.theme-dark & {
    background: var(--dark-nav-color);
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-nav-color);
    }
  }

  .inner {
    min-height: 206px;
    padding: 54px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 850px) {
      min-height: auto;
      padding: 15px;
    }
  }

  .custom-logo-link {
    width: 363px;
    height: 46px;

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__menu,
  &__right-col {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menu {
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  &__right-col {
    @media screen and (max-width: 850px) {
      min-height: auto;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  &__menu {
    margin-right: 120px;

    @media screen and (max-width: 1024px) {
      margin: 0;
    }

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__menu li a {
    color: #612b1c;

    body.theme-snow &,
    body.theme-dark & {
      color: var(--dark-title-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        color: var(--dark-title-color);
      }
    }

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .9;
    }
  }

  &__contacts {
    width: 100%;

    @media screen and (max-width: 650px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tel,
  &__email {
    color: #612b1c;

    body.theme-snow &,
    body.theme-dark & {
      color: var(--dark-title-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        color: var(--dark-title-color);
      }
    }

    @media screen and (max-width: 850px) {
      font-weight: bold;
    }

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .9;
    }
  }

  &__email {
    line-height: 2;
  }

  &__social-list {
    margin-right: 18px;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }
}

/*---------------Up-Button----------------*/
.up-button {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  padding: 0;
  margin: 0;

  width: 50px;
  height: 50px;
  text-decoration: none;
  background: #612b1c;
  border-radius: 50%;

  cursor: pointer;
  opacity: 0.7;
  transition-duration: .3s;

  body.theme-snow & {
    background: var(--snow-bg-rad);
    box-shadow: inset 0 0 8px 2px var(--light-elem-color);
  }

  body.theme-dark & {
    background: var(--dark-nav-color);
    border: 2px solid #fff06a;
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-nav-color);
      border: 2px solid #fff06a;
    }
  }

  @media screen and (max-width: 850px) {
    right: 20px;
    bottom: 20px;
  }
  @media screen and (max-width: 500px) {
    right: 10px;
    bottom: 10px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border: solid;
    border-color: #fff06a;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg) translate(50%, -16%);

    body.theme-snow & {
      content: '\f1bb';
      border: none;
      font-family: "Font Awesome 5 Free", monospace;
      color: var(--light-elem-color);
      font-size: 22px;
      font-weight: 800;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      text-align: center;
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
    border: none;
    box-shadow: 0 0 10px -1px #333;
    transition-duration: .3s;

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 10px 2px var(--light-elem-color);
      }
    }

    body.theme-dark & {
      box-shadow: 0 0 10px 2px var(--light-elem-color);
    }

    body.theme-snow & {
      box-shadow: 0 0 10px 2px var(--light-elem-color);
    }
  }

  &:active {
    box-shadow: inset 0 0 10px -1px #333;
  }
}

/*---------------Theme-Toggle----------------*/
.theme {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  padding: 0;
  border-radius: 50%;
  background: rgba(#612b1c, .9);
  cursor: pointer;
  transition: all .2s ease-out;

  body.theme-snow & {
    background: var(--snow-bg-rad);
  }

  body.theme-dark & {
    background: var(--dark-nav-color);
  }

  body.theme-auto & {
    @media (prefers-color-scheme: dark) {
      background: var(--dark-nav-color);
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    transform: translate(-50%, -50%);
    background: rgba(#612b1c, .9);
    border-radius: 50%;
    animation: animate-circle 2s cubic-bezier(.9, .24, .62, .79) infinite;

    body.theme-snow & {
      background: var(--dark-item-color);
    }

    body.theme-dark & {
      background: var(--dark-item-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-item-color);
      }
    }
  }

  &::before {
    animation-delay: 0s;
  }

  &::after {
    animation-delay: .5s;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 10px 2px #111;
    transition: all .2s ease-out;

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 10px 2px var(--light-elem-color);
      }
    }

    body.theme-dark &,
    body.theme-snow & {
      box-shadow: 0 0 10px 2px var(--light-elem-color);
    }
  }

  &__title {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__input {
    display: none;
    pointer-events: none;

    &:checked + label {
      background: #444;
      opacity: 1;

      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 0 10px 2px var(--light-elem-color);
        }
      }

      body.theme-dark &,
      body.theme-snow & {
        background: #444;
      }

      &:hover,
      &:focus {
        background: #888;

        body.theme-auto &,
        body.theme-dark &,
        body.theme-snow & {
          background: #888;
        }
      }
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    max-height: 0;
    border-radius: 50%;

    transform: translateY(-28px);
    transition: all .3s ease-out;
    cursor: pointer;
    z-index: 2;
    opacity: 0;

    font-size: 25px;
    background: #612b1c;
    color: #fff;

    body.theme-snow & {
      background: var(--snow-bg-rad);
    }

    body.theme-dark & {
      background: var(--dark-nav-color);
    }

    body.theme-auto & {
      @media (prefers-color-scheme: dark) {
        background: var(--dark-nav-color);
      }
    }

    &:hover,
    &:focus {
      background: #888;

      body.theme-auto &,
      body.theme-dark &,
      body.theme-snow & {
        background: #888;
      }
    }
  }

  &[data-state="active"] {
    .theme__label {
      max-height: 60px;
      opacity: 1;
      transform: translateY(0);
      transition: all .3s ease-out;
      box-shadow: 0 0 6px 1px #111;

      body.theme-auto & {
        @media (prefers-color-scheme: dark) {
          box-shadow: 0 0 6px 1px var(--light-elem-color);
        }
      }

      body.theme-dark &,
      body.theme-snow & {
        box-shadow: 0 0 6px 1px var(--light-elem-color);
      }
    }
  }
}

@keyframes animate-circle {
  from {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}