@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@400;700&display=swap");
@import url("snowfall.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  --text-color: #612b1c;
  --back-color: #fffbd8;
}
body.theme-dark {
  background: var(--dark-back-color);
  color: var(--dark-text-color);
}
body.theme-snow {
  background: var(--snow-bg-section);
  color: var(--dark-text-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }
}

.theme-snow,
.theme-light,
.theme-dark,
.theme-auto {
  transition: all 0.2s ease;
}

.dark-logo {
  display: none;
}
body.theme-snow .dark-logo, body.theme-dark .dark-logo {
  display: block;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .dark-logo {
    display: block;
  }
}

.light-logo {
  display: block;
}
body.theme-snow .light-logo, body.theme-dark .light-logo {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .light-logo {
    display: none;
  }
}

:root {
  --dark-nav-color: #111;
  --dark-back-color: #27292d;
  --dark-item-color: #434343;
  --dark-text-color: #939496;
  --dark-title-color: #e9eaea;
  --light-elem-color: #f3f3f3;
  --snow-bg-section: transparent;
  --snow-bg-item: rgba(67, 67, 67, .5);
  --snow-bg-header: linear-gradient(#123, #111);
  --snow-bg-footer: linear-gradient(#111, #123);
  --snow-bg-rad: radial-gradient(#111, #123);
  --snow-bg-main: linear-gradient(#060a21 0%, #0a1638 80%, #181f59 100%);
}

.inner {
  max-width: 1146px;
  width: 100%;
  padding: 57px 27px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: #612b1c;
  margin: 0;
}
body.theme-snow .title {
  color: var(--dark-title-color);
  text-shadow: -2px -2px 4px var(--light-elem-color);
}
body.theme-dark .title {
  color: var(--dark-title-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .title {
    color: var(--dark-title-color);
  }
}
@media screen and (max-width: 650px) {
  .title {
    font-size: 26px;
    padding: 5px;
    margin: 5px;
  }
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  height: 60px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 14px 29px 19px;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .btn {
    height: 50px;
    padding: 10px 20px 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .btn {
    font-size: 12px;
    padding: 10px 14px 15px;
  }
}
.btn:hover, .btn:focus {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.9;
}
body.theme-snow .btn {
  border: none;
  box-shadow: inset 0 6px 8px -2px var(--light-elem-color);
  transition-duration: 0.3s;
}
body.theme-snow .btn:hover, body.theme-snow .btn:focus {
  box-shadow: 0 0 10px 1px #ccc, inset 0 6px 8px -2px var(--light-elem-color);
  transition-duration: 0.3s;
}
body.theme-dark .btn:hover, body.theme-dark .btn:focus {
  box-shadow: 0 0 10px 1px #ccc;
  transition-duration: 0.3s;
}
body.theme-dark .btn:active {
  box-shadow: none;
  transition-duration: 0.3s;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .btn:hover, body.theme-auto .btn:focus {
    box-shadow: 0 0 10px 1px #ccc;
    transition-duration: 0.3s;
  }
  body.theme-auto .btn:active {
    box-shadow: none;
    transition-duration: 0.3s;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 244px;
  margin-right: 26px;
}
.social__item {
  list-style: none;
  width: 26px;
  height: 26px;
}
.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #612b1c;
  position: relative;
  transition-duration: 0.3s;
}
body.theme-snow .social__link, body.theme-dark .social__link {
  background: transparent;
}
body.theme-snow .social__link:hover, body.theme-snow .social__link:focus, body.theme-dark .social__link:hover, body.theme-dark .social__link:focus {
  box-shadow: 0 0 20px 2px #ccc;
  transition-duration: 0.3s;
}
body.theme-snow .social__link:active, body.theme-dark .social__link:active {
  box-shadow: none;
  transition-duration: 0.3s;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .social__link {
    background: transparent;
  }
  body.theme-auto .social__link:hover, body.theme-auto .social__link:focus {
    box-shadow: 0 0 20px 2px #ccc;
    transition-duration: 0.3s;
  }
  body.theme-auto .social__link:active {
    box-shadow: none;
    transition-duration: 0.3s;
  }
}
.social__link:hover, .social__link:focus {
  opacity: 0.7;
  transition-duration: 0.3s;
}
.social__link:active {
  opacity: 0.9;
  transition-duration: 0.3s;
}
.social__icon {
  fill: #fff06a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body.theme-snow .social__icon, body.theme-dark .social__icon {
  fill: var(--dark-title-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .social__icon {
    fill: var(--dark-title-color);
  }
}

.wow {
  visibility: hidden;
}

/*--------------Slick-Slider--------------*/
.slick-slider {
  width: 100%;
  height: auto;
}
.slick-slider .slick-dots {
  width: 108px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.slick-slider .slick-dots li {
  margin: 0;
  width: 7px;
  height: 7px;
}
.slick-slider .slick-dots li button::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FFC500 0%, #FF9346 100%);
  opacity: 1;
}
body.theme-snow .slick-slider .slick-dots li button::before, body.theme-dark .slick-slider .slick-dots li button::before {
  background: linear-gradient(180deg, #FFC500 0%, #b00000 100%);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .slick-slider .slick-dots li button::before {
    background: linear-gradient(180deg, #FFC500 0%, #b00000 100%);
  }
}
.slick-slider .slick-dots li button:hover::before {
  opacity: 0.7;
}
.slick-slider .slick-dots li.slick-active button::before {
  background: #612b1c;
}
body.theme-snow .slick-slider .slick-dots li.slick-active button::before, body.theme-dark .slick-slider .slick-dots li.slick-active button::before {
  background: var(--light-elem-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .slick-slider .slick-dots li.slick-active button::before {
    background: var(--light-elem-color);
  }
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  display: block;
  position: absolute;
  top: 100%;
  width: 32px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 50%;
  z-index: 2;
}
@media screen and (max-width: 650px) {
  .slick-slider .slick-prev,
.slick-slider .slick-next {
    border-color: #612b1c;
    width: 38px;
    height: 38px;
  }
  body.theme-snow .slick-slider .slick-prev, body.theme-dark .slick-slider .slick-prev,
body.theme-snow .slick-slider .slick-next,
body.theme-dark .slick-slider .slick-next {
    border-color: var(--light-elem-color);
  }
}
@media screen and (max-width: 650px) and (prefers-color-scheme: dark) {
  body.theme-auto .slick-slider .slick-prev,
body.theme-auto .slick-slider .slick-next {
    border-color: var(--light-elem-color);
  }
}
@media screen and (max-width: 600px) {
  .slick-slider .slick-prev,
.slick-slider .slick-next {
    top: 50%;
    width: 28px;
    border-radius: 5px;
  }
}
.slick-slider .slick-prev {
  left: 50%;
  transform: translateX(-130px);
}
@media screen and (max-width: 600px) {
  .slick-slider .slick-prev {
    transform: translate(-220px, -50%);
  }
}
@media screen and (max-width: 475px) {
  .slick-slider .slick-prev {
    transform: translate(-180px, -50%);
  }
}
@media screen and (max-width: 400px) {
  .slick-slider .slick-prev {
    transform: translate(-160px, -50%);
  }
}
@media screen and (max-width: 350px) {
  .slick-slider .slick-prev {
    transform: translate(-148px, -50%);
  }
}
.slick-slider .slick-next {
  right: 50%;
  transform: translateX(130px);
}
@media screen and (max-width: 600px) {
  .slick-slider .slick-next {
    transform: translate(220px, -50%);
  }
}
@media screen and (max-width: 475px) {
  .slick-slider .slick-next {
    transform: translate(180px, -50%);
  }
}
@media screen and (max-width: 400px) {
  .slick-slider .slick-next {
    transform: translate(160px, -50%);
  }
}
@media screen and (max-width: 350px) {
  .slick-slider .slick-next {
    transform: translate(148px, -50%);
  }
}
.slick-slider .slick-prev::before {
  content: "⟵";
}
@media screen and (max-width: 650px) {
  .slick-slider .slick-prev::before {
    transform: rotate(135deg) translate(-30%, 50%);
  }
}
.slick-slider .slick-next::before {
  content: "⟶";
}
@media screen and (max-width: 650px) {
  .slick-slider .slick-next::before {
    transform: rotate(-45deg) translate(-10%, -80%);
  }
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  display: block;
  position: absolute;
  font-family: inherit;
  color: #612b1c;
  font-size: 26px;
  line-height: 0;
}
body.theme-snow .slick-slider .slick-prev::before, body.theme-dark .slick-slider .slick-prev::before,
body.theme-snow .slick-slider .slick-next::before,
body.theme-dark .slick-slider .slick-next::before {
  color: var(--light-elem-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .slick-slider .slick-prev::before,
body.theme-auto .slick-slider .slick-next::before {
    color: var(--light-elem-color);
  }
}
.slick-slider .slick-prev::before:hover, .slick-slider .slick-prev::before:focus,
.slick-slider .slick-next::before:hover,
.slick-slider .slick-next::before:focus {
  opacity: 0.7;
}
@media screen and (max-width: 650px) {
  .slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border: solid;
    border-color: #612b1c;
    border-width: 0 2px 2px 0;
  }
  body.theme-snow .slick-slider .slick-prev::before, body.theme-dark .slick-slider .slick-prev::before,
body.theme-snow .slick-slider .slick-next::before,
body.theme-dark .slick-slider .slick-next::before {
    border-color: var(--light-elem-color);
  }
}
@media screen and (max-width: 650px) and (prefers-color-scheme: dark) {
  body.theme-auto .slick-slider .slick-prev::before,
body.theme-auto .slick-slider .slick-next::before {
    border-color: var(--light-elem-color);
  }
}

/*-----------------Header-----------------*/
.header {
  padding: 9px 0;
  background: #fff06a;
  box-sizing: border-box;
}
body.theme-snow .header {
  background: var(--snow-bg-section);
  color: var(--dark-text-color);
}
body.theme-dark .header {
  background: var(--dark-back-color);
  color: var(--dark-text-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .header {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }
}
@media screen and (max-width: 850px) {
  .header {
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: 0 2px 10px 3px #612b1c;
    z-index: 4;
  }
  body.theme-snow .header {
    background: var(--snow-bg-header);
  }
  body.theme-snow .header, body.theme-dark .header {
    box-shadow: 0 0 5px 1px var(--light-elem-color);
  }
}
@media screen and (max-width: 850px) and (prefers-color-scheme: dark) {
  body.theme-auto .header {
    box-shadow: 0 0 5px 1px var(--light-elem-color);
  }
}
@media screen and (max-width: 850px) {
  #wpadminbar + .header {
    top: 32px;
  }
}
@media screen and (max-width: 782px) {
  #wpadminbar + .header {
    top: 46px;
  }
}
@media screen and (max-width: 600px) {
  #wpadminbar + .header {
    top: 0;
  }
}
.header .inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 54px;
  padding: 0;
}
@media screen and (max-width: 850px) {
  .header .inner {
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 560px) {
  .header .inner {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  body.theme-snow .header, body.theme-dark .header {
    box-shadow: 0 0 5px 1px var(--light-elem-color);
  }
}
@media screen and (max-width: 850px) and (prefers-color-scheme: dark) {
  body.theme-auto .header {
    box-shadow: 0 0 5px 1px var(--light-elem-color);
  }
}
.header .custom-logo {
  width: 316px;
  height: 40px;
  margin: 0 10px;
}
@media screen and (max-width: 850px) {
  .header .custom-logo {
    margin: 0 20px;
  }
}
@media screen and (max-width: 560px) {
  .header .custom-logo {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .header .custom-logo {
    width: 300px;
    height: auto;
  }
}
.header .custom-logo-link {
  width: 100%;
  height: auto;
  display: none;
}
@media screen and (max-width: 850px) {
  .header .custom-logo-link {
    display: block;
  }
}
.header__social-list {
  margin: 0 20px;
}
@media screen and (max-width: 850px) {
  .header__social-list {
    margin: 10px 20px;
    order: 4;
    flex-grow: 1;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .header__social-list {
    margin: 10px;
  }
}
@media screen and (max-width: 560px) {
  .header__social-list {
    max-width: 500px;
    order: initial;
  }
}

/*-----------------Promo------------------*/
.promo {
  background: #fff06a;
}
body.theme-snow .promo {
  background: var(--snow-bg-section);
  color: var(--dark-text-color);
}
body.theme-dark .promo {
  background: var(--dark-back-color);
  color: var(--dark-text-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .promo {
    background: var(--dark-back-color);
    color: var(--dark-text-color);
  }
}
.promo .inner {
  padding: 48px 27px 64px 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
@media screen and (max-width: 1050px) {
  .promo .inner {
    padding-left: 32%;
  }
}
@media screen and (max-width: 850px) {
  .promo .inner {
    padding: 30px 15px;
    align-items: center;
  }
}
.promo__title {
  font-size: 60px;
  line-height: 1;
}
@media screen and (max-width: 850px) {
  .promo__title {
    font-size: 48px;
  }
}
.promo__quote-block {
  max-width: 515px;
  width: 100%;
  margin: 30px 0 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .promo__quote-block {
    margin: 20px 0;
    white-space: nowrap;
  }
}
.promo__quote-icon {
  margin: 8px 4px 0 0;
}
.promo__blockquote {
  max-width: 450px;
  width: 100%;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.33;
  text-align: left;
  margin-left: 10px;
  padding: 0 20px;
}
body.theme-snow .promo__blockquote {
  background: var(--snow-bg-item);
  border-radius: 10px;
}
body.theme-dark .promo__blockquote {
  background: var(--dark-item-color);
  border-radius: 10px;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .promo__blockquote {
    background: var(--dark-item-color);
    border-radius: 10px;
  }
}
@media screen and (max-width: 650px) {
  .promo__blockquote {
    width: 70%;
  }
}
.promo__slider {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.promo__item {
  width: 100%;
}
.promo__text {
  font-size: 12px;
  padding: 16px 0;
  margin: 0;
  white-space: normal;
}
.promo__author {
  font-size: 10px;
}
.promo__btn {
  margin-left: 20px;
  background: #f82e2c;
}
body.theme-snow .promo__btn, body.theme-dark .promo__btn {
  background: #8f0000;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .promo__btn {
    background: #8f0000;
  }
}
@media screen and (max-width: 850px) {
  .promo__btn {
    margin: 0 auto;
  }
}
.promo__btn-icon {
  vertical-align: middle;
  margin: 0 20px 2px 0;
}
@media screen and (max-width: 850px) {
  .promo__btn-icon {
    margin-right: 6px;
  }
}

/*---------------Navigation---------------*/
.nav {
  z-index: 3;
  background: #612b1c;
  top: -80px;
  transition-duration: 0.5s;
}
@media screen and (min-width: 851px) {
  body.theme-snow .nav {
    background: var(--snow-bg-section);
    box-shadow: inset 0 20px 20px -20px var(--light-elem-color), inset 0 -20px 20px -20px var(--light-elem-color);
  }
  body.theme-dark .nav {
    background: var(--dark-nav-color);
  }
}
@media screen and (min-width: 851px) and (prefers-color-scheme: dark) {
  body.theme-auto .nav {
    background: var(--dark-nav-color);
  }
}
@media screen and (min-width: 851px) {
  .nav--sticky {
    position: sticky;
    top: 0;
  }
  body.theme-snow .nav--sticky {
    background: var(--snow-bg-main);
    box-shadow: 0 0 10px 2px var(--light-elem-color);
  }
}
@media screen and (min-width: 851px) {
  #wpadminbar + header + main .nav--sticky {
    top: 32px;
  }
}
@media screen and (min-width: 851px) {
  .nav--sticky ~ #about {
    margin-top: 168px;
  }
}
@media screen and (max-width: 850px) {
  .nav {
    position: fixed;
    top: 0;
    background-color: transparent;
  }
}
.nav .inner {
  min-height: 248px;
  padding: 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .nav .inner {
    justify-content: space-around;
    padding: 20px;
  }
}
@media screen and (max-width: 850px) {
  .nav .inner {
    height: 100vh;
    padding: 0;
    transition-duration: 0.5s;
    left: 0;
    right: -100%;
  }
}
@media screen and (min-width: 851px) {
  .nav .inner--secondary {
    min-height: 80px;
    justify-content: space-around;
    padding: 10px;
  }
}
@media screen and (min-width: 851px) {
  .nav .inner--sticky {
    justify-content: space-around;
    min-height: 80px;
    padding: 10px;
  }
  .nav .inner--sticky .nav__menu {
    max-width: 100%;
  }
  .nav .inner--sticky .nav__list li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 850px) {
  .nav .inner--menu-wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition-duration: 0.5s;
    right: 0;
  }
}
.nav .congratulations-roll__slider {
  position: absolute;
  right: calc(100% - 258px);
  bottom: 0;
  width: 260px;
  transition-duration: 0.4s;
}
@media screen and (max-width: 1200px) {
  .nav .congratulations-roll__slider {
    bottom: 100%;
  }
}
@media screen and (max-width: 850px) {
  .nav .congratulations-roll__slider {
    display: none;
  }
}
.nav .congratulations-roll .slick-vertical .slick-slide {
  border: none;
}
.nav .congratulations-roll__item {
  width: 100%;
  height: 274px;
  position: relative;
}
.nav .congratulations-roll__item:hover, .nav .congratulations-roll__item:focus {
  cursor: pointer;
}
.nav .congratulations-roll__frame {
  width: 100%;
  height: 274px;
  display: block;
  position: absolute;
  left: 0;
}
.nav .congratulations-roll__photo {
  width: 192px;
  height: 256px;
  display: block;
  position: absolute;
  top: 8px;
  left: 34px;
}
.nav__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu-field {
  display: none;
  width: 54px;
  height: 54px;
  margin: 0 20px;
  background: #612b1c;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .nav__menu-field {
    display: flex;
    margin: 6px 20px;
  }
}
body.theme-snow .nav__menu-field, body.theme-dark .nav__menu-field {
  background: var(--dark-title-color);
  border-radius: 10px;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .nav__menu-field {
    background: var(--dark-title-color);
    border-radius: 10px;
  }
}
.nav__menu-btn {
  display: block;
  margin: auto;
  width: 22px;
  height: 2px;
  background: #fff;
  position: relative;
  transition-duration: 0.7s;
}
body.theme-snow .nav__menu-btn, body.theme-dark .nav__menu-btn {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .nav__menu-btn {
    background: var(--dark-nav-color);
  }
}
.nav__menu-btn::before, .nav__menu-btn::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  position: absolute;
  transition-duration: 0.7s;
}
body.theme-snow .nav__menu-btn::before, body.theme-dark .nav__menu-btn::before, body.theme-snow .nav__menu-btn::after, body.theme-dark .nav__menu-btn::after {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .nav__menu-btn::before, body.theme-auto .nav__menu-btn::after {
    background: var(--dark-nav-color);
  }
}
.nav__menu-btn::before {
  top: -6px;
}
.nav__menu-btn::after {
  bottom: -6px;
}
.nav__menu-field--active .nav__menu-btn {
  background: transparent;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
body.theme-snow .nav__menu-field--active .nav__menu-btn, body.theme-dark .nav__menu-field--active .nav__menu-btn {
  background: transparent;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .nav__menu-field--active .nav__menu-btn {
    background: transparent;
  }
}
.nav__menu-field--active .nav__menu-btn::before, .nav__menu-field--active .nav__menu-btn::after {
  top: 50%;
  bottom: initial;
  transition-duration: 0.7s;
}
.nav__menu-field--active .nav__menu-btn::before {
  transform: rotate(45deg);
}
.nav__menu-field--active .nav__menu-btn::after {
  transform: rotate(-45deg);
}
.nav__menu {
  max-width: 845px;
  width: 100%;
  display: block;
}
.nav__menu--center-mode {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .nav__menu .nav__list {
    position: absolute;
    right: -100%;
    transition-duration: 0.7s;
  }
  .nav__menu--active .nav__list {
    right: 0;
    transition-duration: 0.7s;
  }
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .nav__list {
    margin: 0 auto;
  }
}
@media screen and (max-width: 850px) {
  .nav__list {
    background: #612b1c;
    z-index: 4;
  }
  body.theme-snow .nav__list {
    background: linear-gradient(#060a21 0%, #0a1638 80%, #181f59 100%);
  }
  body.theme-dark .nav__list {
    background: var(--dark-nav-color);
  }
}
@media screen and (max-width: 850px) and (prefers-color-scheme: dark) {
  body.theme-auto .nav__list {
    background: var(--dark-nav-color);
  }
}
@media screen and (max-width: 850px) {
  .nav__list {
    position: fixed;
    --top: 130px;
    top: var(--top);
    right: 0;
    width: 300px;
    height: calc(100vh - var(--top));
    padding: 20px 0 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 560px) {
  .nav__list {
    --top: 174px;
    top: var(--top);
    height: calc(100vh - var(--top));
  }
}
@media screen and (max-width: 425px) {
  .nav__list {
    width: 100vw;
  }
}
@media screen and (max-width: 850px) {
  #wpadminbar + header + main .nav__list {
    top: 162px;
  }
}
@media screen and (max-width: 782px) {
  #wpadminbar + header + main .nav__list {
    top: 176px;
    transition-duration: inherit;
  }
}
@media screen and (max-width: 560px) {
  #wpadminbar + header + main .nav__list {
    --top: 220px;
    top: var(--top);
    height: calc(100vh - var(--top));
  }
}
@media screen and (max-width: 600px) {
  #wpadminbar + header + main .nav__list--higher {
    top: 130px;
  }
}
@media screen and (max-width: 560px) {
  #wpadminbar + header + main .nav__list--higher {
    --top: 174px;
    top: var(--top);
    height: calc(100vh - var(--top));
  }
}
.nav__list .menu-item ._image {
  width: 62px;
  height: auto;
  vertical-align: middle;
}
@media screen and (max-width: 850px) {
  .nav__list .menu-item ._image {
    width: 40px;
  }
}
.nav__list .menu-item {
  margin: 0 10px;
  list-style: none;
  text-align: center;
  flex-grow: 1;
}
@media screen and (max-width: 850px) {
  .nav__list .menu-item {
    margin-left: 50px;
    padding: 10px 0 10px 0;
    flex-grow: 0;
  }
}
.nav__list .menu-item.active_page_item a span::before {
  width: 99%;
  left: 0;
  transition: all 0.5s ease;
}
.nav__list .menu-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav__list .menu-item a:hover span::before, .nav__list .menu-item a:focus span::before {
  width: 99%;
  left: 0;
  transition: all 0.5s ease;
}
.nav__list .menu-item a:active span {
  opacity: 0.7;
}
.nav__list .menu-item a span {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 850px) {
  .nav__list .menu-item a span {
    font-size: 18px;
    padding: 10px 0 6px;
    margin: 10px 0;
    flex-grow: 1;
  }
}
.nav__list .menu-item a span::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 0.5s ease;
}
@media screen and (max-width: 850px) {
  .nav__list .menu-item a span::before {
    bottom: 0;
  }
}

/*-----------------About------------------*/
.about .inner {
  padding: 135px 0 90px;
}
@media screen and (max-width: 1100px) {
  .about .inner {
    padding: 112px 25px 0;
  }
}
@media screen and (max-width: 850px) {
  .about .inner {
    padding: 25px;
  }
}
@media screen and (max-width: 425px) {
  .about .inner {
    padding: 25px 10px 10px;
  }
}
.about__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .about__list {
    flex-direction: column;
  }
}
.about__item {
  flex-basis: 30%;
  margin: 5px 5px 50px;
  flex-grow: 1;
}
body.theme-snow .about__item {
  background: var(--snow-bg-item);
  border-radius: 10px;
  padding: 0 10px;
}
body.theme-dark .about__item {
  background: var(--dark-item-color);
  border-radius: 10px;
  padding: 0 10px;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .about__item {
    background: var(--dark-item-color);
    border-radius: 10px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1100px) {
  .about__item {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .about__item {
    width: 48%;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .about__item {
    width: 100%;
    margin: 0 0 5px 0px;
  }
}
.about__item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 205px;
  margin-bottom: 15px;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .about__item-header {
    min-height: 300px;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .about__item-header {
    justify-content: center;
    min-height: 205px;
    align-items: flex-end;
  }
}
@media screen and (max-width: 550px) {
  .about__item-header {
    min-height: 140px;
  }
}
@media screen and (max-width: 425px) {
  .about__item-header {
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 225px;
    margin: 0;
  }
}
.about__avatar-frame {
  position: absolute;
  left: -46px;
  top: -10px;
}
@media screen and (max-width: 1250px) {
  .about__avatar-frame {
    left: 0;
  }
}
@media screen and (max-width: 550px) {
  .about__avatar-frame {
    left: -20px;
    top: -7px;
    transform: translateY(-30px) scale(0.7);
  }
}
@media screen and (max-width: 425px) {
  .about__avatar-frame {
    left: calc(-4px + 50%);
    top: -7px;
    transform: translateX(-50%) translateY(-30px) scale(0.7);
  }
}
.about__avatar {
  position: absolute;
  left: 0;
  top: 41px;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .about__avatar {
    left: 46px;
  }
}
@media screen and (max-width: 550px) {
  .about__avatar {
    left: 26px;
    transform: translateY(-30px) scale(0.7);
  }
}
@media screen and (max-width: 425px) {
  .about__avatar {
    left: 50%;
    transform: translateX(-50%) translateY(-30px) scale(0.7);
  }
}
.about__author {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  text-align: left;
  height: auto;
  margin: 0;
  padding: 0;
}
.about__author-pos {
  font-size: 14px;
  line-height: 1.31;
  text-align: left;
}
.about__author, .about__author-pos {
  width: 60%;
  padding-left: 8px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1250px) {
  .about__author, .about__author-pos {
    width: 80%;
    padding-left: 24px;
  }
}
@media screen and (max-width: 1100px) {
  .about__author, .about__author-pos {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .about__author, .about__author-pos {
    justify-content: center;
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .about__author, .about__author-pos {
    width: 100%;
    text-align: center;
  }
}
.about__text {
  width: 90%;
  font-size: 16px;
  font-style: normal;
  line-height: 1.3;
  text-align: left;
  padding-left: 26px;
}
@media screen and (max-width: 1100px) {
  .about__text {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .about__text {
    padding: 0 10px;
  }
}
@media screen and (max-width: 475px) {
  .about__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .about__text {
    padding: 0;
  }
}

/*------------Congratulations-------------*/
.congratulations {
  overflow: hidden;
}
.congratulations .inner {
  max-width: 1920px;
  padding: 110px 0 0;
}
@media screen and (max-width: 1100px) {
  .congratulations .inner {
    padding: 112px 0 0;
  }
}
@media screen and (max-width: 850px) {
  .congratulations .inner {
    padding: 20px 0;
  }
}
.congratulations__slider {
  height: 420px;
  margin: 54px auto;
}
@media screen and (max-width: 850px) {
  .congratulations__slider {
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 600px) {
  .congratulations__slider {
    width: 380px;
  }
}
@media screen and (max-width: 475px) {
  .congratulations__slider {
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .congratulations__slider {
    width: 240px;
    height: auto;
  }
}
.congratulations__slider .slick-dots {
  bottom: 30px;
  align-items: flex-end;
}
.congratulations__slider .slick-prev,
.congratulations__slider .slick-next {
  top: 88%;
}
@media screen and (max-width: 600px) {
  .congratulations__slider .slick-prev,
.congratulations__slider .slick-next {
    top: 40%;
  }
}
@media screen and (max-width: 475px) {
  .congratulations__slider .slick-prev,
.congratulations__slider .slick-next {
    top: 44%;
  }
}
.congratulations__item {
  width: 380px;
  height: 380px;
  position: relative;
}
@media screen and (max-width: 475px) {
  .congratulations__item {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .congratulations__item {
    width: 240px;
    height: 240px;
  }
}
.congratulations__item:hover, .congratulations__item:focus {
  cursor: pointer;
}
.congratulations__frame {
  width: 380px;
  height: 380px;
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
}
@media screen and (max-width: 475px) {
  .congratulations__frame {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .congratulations__frame {
    width: 240px;
    height: 240px;
  }
}
.congratulations__photo, .congratulations__video {
  width: 358px;
  height: 270px;
  display: block;
  position: absolute;
  top: 46px;
  left: 14px;
  cursor: pointer;
  transition-duration: 0.8s;
}
@media screen and (max-width: 475px) {
  .congratulations__photo, .congratulations__video {
    width: 282px;
    height: 212px;
    top: 32px;
    left: 11px;
  }
}
@media screen and (max-width: 400px) {
  .congratulations__photo, .congratulations__video {
    width: 226px;
    height: 170px;
    top: 24px;
    left: 9px;
  }
}
.slick-current .congratulations__photo--hidden {
  z-index: 0;
  opacity: 0;
  transition-duration: 0.8s;
}
.slick-current .congratulations__video--visible {
  z-index: 1;
}

/*-----------------Cards------------------*/
.cards .inner {
  padding: 112px 0 110px;
}
@media screen and (max-width: 1100px) {
  .cards .inner {
    padding: 112px 0 30px;
  }
}
@media screen and (max-width: 850px) {
  .cards .inner {
    padding: 20px 0 30px;
  }
}
.cards__subtitle {
  margin: 16px auto 48px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .cards__subtitle {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 850px) {
  .cards__subtitle {
    font-size: 14px;
    margin: 4px auto;
  }
}
.cards__slider {
  height: auto;
}
@media screen and (max-width: 850px) {
  .cards__slider {
    margin-bottom: 0;
  }
}
.cards__slider .slick-track {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 518px;
}
@media screen and (max-width: 650px) {
  .cards__slider .slick-track {
    height: 464px;
  }
}
@media screen and (max-width: 475px) {
  .cards__slider .slick-track {
    height: 356px;
  }
}
@media screen and (max-width: 375px) {
  .cards__slider .slick-track {
    height: 300px;
  }
}
@media screen and (min-width: 651px) {
  .cards__slider .slick-center {
    transform: scale(1.5);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);
  }
}
.cards__slider .slick-prev,
.cards__slider .slick-next {
  top: 100%;
}
@media screen and (max-width: 600px) {
  .cards__slider .slick-prev,
.cards__slider .slick-next {
    top: 50%;
  }
}
.cards__item {
  max-width: 264px;
  height: auto;
  border: 10px solid #fff;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 38px 80px;
  transition-duration: 1s;
  cursor: pointer;
}
body.theme-snow .cards__item, body.theme-dark .cards__item {
  background: var(--light-elem-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .cards__item {
    background: var(--light-elem-color);
  }
}
@media screen and (max-width: 650px) {
  .cards__item {
    max-width: none;
    width: 362px;
    margin: 30px;
  }
}
@media screen and (max-width: 475px) {
  .cards__item {
    width: 264px;
    height: 293px;
  }
}
@media screen and (max-width: 375px) {
  .cards__item {
    width: 216px;
    height: 240px;
    border: none;
  }
}
.cards__photo {
  width: 100%;
  height: auto;
}
.cards__btn-box {
  width: 294px;
  margin: 60px auto 0;
}
@media screen and (max-width: 475px) {
  .cards__btn-box {
    width: 254px;
    margin-top: 20px;
  }
}
.cards__btn {
  display: inline-block;
  width: 100%;
  background: #612b1c;
}
body.theme-snow .cards__btn, body.theme-dark .cards__btn {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .cards__btn {
    background: var(--dark-nav-color);
  }
}
.cards__btn-icon {
  vertical-align: middle;
  margin: 0 8px 4px 0;
}
.cards__download-formats {
  text-align: center;
  margin-top: 34px;
}
@media screen and (max-width: 650px) {
  .cards__download-formats {
    margin-top: 20px;
    font-size: 12px;
  }
}

/*----------------Footer------------------*/
.footer {
  background: #fff06a;
}
body.theme-snow .footer {
  background: var(--snow-bg-footer);
}
body.theme-dark .footer {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .footer {
    background: var(--dark-nav-color);
  }
}
.footer .inner {
  min-height: 206px;
  padding: 54px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 850px) {
  .footer .inner {
    min-height: auto;
    padding: 15px;
  }
}
.footer .custom-logo-link {
  width: 363px;
  height: 46px;
}
@media screen and (max-width: 650px) {
  .footer .custom-logo-link {
    display: none;
  }
}
.footer__menu, .footer__right-col {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .footer__menu {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .footer__right-col {
    min-height: auto;
  }
}
@media screen and (max-width: 650px) {
  .footer__right-col {
    width: 100%;
  }
}
.footer__menu {
  margin-right: 120px;
}
@media screen and (max-width: 1024px) {
  .footer__menu {
    margin: 0;
  }
}
@media screen and (max-width: 850px) {
  .footer__menu {
    display: none;
  }
}
.footer__menu li a {
  color: #612b1c;
}
body.theme-snow .footer__menu li a, body.theme-dark .footer__menu li a {
  color: var(--dark-title-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .footer__menu li a {
    color: var(--dark-title-color);
  }
}
.footer__menu li a:hover, .footer__menu li a:focus {
  opacity: 0.7;
}
.footer__menu li a:active {
  opacity: 0.9;
}
.footer__contacts {
  width: 100%;
}
@media screen and (max-width: 650px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__tel, .footer__email {
  color: #612b1c;
}
body.theme-snow .footer__tel, body.theme-dark .footer__tel, body.theme-snow .footer__email, body.theme-dark .footer__email {
  color: var(--dark-title-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .footer__tel, body.theme-auto .footer__email {
    color: var(--dark-title-color);
  }
}
@media screen and (max-width: 850px) {
  .footer__tel, .footer__email {
    font-weight: bold;
  }
}
.footer__tel:hover, .footer__tel:focus, .footer__email:hover, .footer__email:focus {
  opacity: 0.7;
}
.footer__tel:active, .footer__email:active {
  opacity: 0.9;
}
.footer__email {
  line-height: 2;
}
.footer__social-list {
  margin-right: 18px;
}
@media screen and (max-width: 850px) {
  .footer__social-list {
    display: none;
  }
}

/*---------------Up-Button----------------*/
.up-button {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  text-decoration: none;
  background: #612b1c;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition-duration: 0.3s;
}
body.theme-snow .up-button {
  background: var(--snow-bg-rad);
  box-shadow: inset 0 0 8px 2px var(--light-elem-color);
}
body.theme-dark .up-button {
  background: var(--dark-nav-color);
  border: 2px solid #fff06a;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .up-button {
    background: var(--dark-nav-color);
    border: 2px solid #fff06a;
  }
}
@media screen and (max-width: 850px) {
  .up-button {
    right: 20px;
    bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .up-button {
    right: 10px;
    bottom: 10px;
  }
}
.up-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border: solid;
  border-color: #fff06a;
  border-width: 0 2px 2px 0;
  transform: rotate(-135deg) translate(50%, -16%);
}
body.theme-snow .up-button::after {
  content: "";
  border: none;
  font-family: "Font Awesome 5 Free", monospace;
  color: var(--light-elem-color);
  font-size: 22px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  text-align: center;
}
.up-button:hover, .up-button:focus {
  opacity: 1;
  border: none;
  box-shadow: 0 0 10px -1px #333;
  transition-duration: 0.3s;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .up-button:hover, body.theme-auto .up-button:focus {
    box-shadow: 0 0 10px 2px var(--light-elem-color);
  }
}
body.theme-dark .up-button:hover, body.theme-dark .up-button:focus {
  box-shadow: 0 0 10px 2px var(--light-elem-color);
}
body.theme-snow .up-button:hover, body.theme-snow .up-button:focus {
  box-shadow: 0 0 10px 2px var(--light-elem-color);
}
.up-button:active {
  box-shadow: inset 0 0 10px -1px #333;
}

/*-------------Theme-Toggle---------------*/
.theme {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  padding: 0;
  border-radius: 50%;
  background: rgba(97, 43, 28, 0.9);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
body.theme-snow .theme {
  background: var(--snow-bg-rad);
}
body.theme-dark .theme {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme {
    background: var(--dark-nav-color);
  }
}
.theme::before, .theme::after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  opacity: 0;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform: translate(-50%, -50%);
  background: rgba(97, 43, 28, 0.9);
  border-radius: 50%;
  animation: animate-circle 2s cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
}
body.theme-snow .theme::before, body.theme-snow .theme::after {
  background: var(--dark-item-color);
}
body.theme-dark .theme::before, body.theme-dark .theme::after {
  background: var(--dark-item-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme::before, body.theme-auto .theme::after {
    background: var(--dark-item-color);
  }
}
.theme::before {
  animation-delay: 0s;
}
.theme::after {
  animation-delay: 0.5s;
}
.theme:hover, .theme:focus {
  box-shadow: 0 0 10px 2px #111;
  transition: all 0.2s ease-out;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme:hover, body.theme-auto .theme:focus {
    box-shadow: 0 0 10px 2px var(--light-elem-color);
  }
}
body.theme-dark .theme:hover, body.theme-snow .theme:hover, body.theme-dark .theme:focus, body.theme-snow .theme:focus {
  box-shadow: 0 0 10px 2px var(--light-elem-color);
}
.theme__title {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.theme__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.theme__input {
  display: none;
  pointer-events: none;
}
.theme__input:checked + label {
  background: #444;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme__input:checked + label {
    box-shadow: 0 0 10px 2px var(--light-elem-color);
  }
}
body.theme-dark .theme__input:checked + label, body.theme-snow .theme__input:checked + label {
  background: #444;
}
.theme__input:checked + label:hover, .theme__input:checked + label:focus {
  background: #888;
}
body.theme-auto .theme__input:checked + label:hover, body.theme-dark .theme__input:checked + label:hover, body.theme-snow .theme__input:checked + label:hover, body.theme-auto .theme__input:checked + label:focus, body.theme-dark .theme__input:checked + label:focus, body.theme-snow .theme__input:checked + label:focus {
  background: #888;
}
.theme__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  max-height: 0;
  border-radius: 50%;
  transform: translateY(-30px);
  transition: all 0.3s ease-out;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  font-size: 25px;
  background: #612b1c;
  color: #fff;
}
body.theme-snow .theme__label {
  background: var(--snow-bg-rad);
}
body.theme-dark .theme__label {
  background: var(--dark-nav-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme__label {
    background: var(--dark-nav-color);
  }
}
.theme__label:hover, .theme__label:focus {
  background: #888;
}
body.theme-auto .theme__label:hover, body.theme-dark .theme__label:hover, body.theme-snow .theme__label:hover, body.theme-auto .theme__label:focus, body.theme-dark .theme__label:focus, body.theme-snow .theme__label:focus {
  background: #888;
}
.theme[data-state=active] .theme__label {
  max-height: 60px;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  box-shadow: 0 0 6px 1px #111;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .theme[data-state=active] .theme__label {
    box-shadow: 0 0 6px 1px var(--light-elem-color);
  }
}
body.theme-dark .theme[data-state=active] .theme__label, body.theme-snow .theme[data-state=active] .theme__label {
  box-shadow: 0 0 6px 1px var(--light-elem-color);
}
@keyframes animate-circle {
  from {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

/*------------Error(404)-Page-------------*/
.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
  background: #fff06a;
  border-bottom: 1px solid #612b1c;
}
body.theme-dark .error-404 {
  background: var(--dark-back-color);
  border-bottom: transparent;
}
body.theme-snow .error-404 {
  background: var(--snow-bg-section);
  border-bottom: transparent;
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .error-404 {
    background: var(--dark-back-color);
    border-bottom: transparent;
  }
}
.error-404 .page-title {
  font-size: 200px;
}
.error-404 .page-subtitle {
  text-align: center;
}
.error-404 .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-404 .search-field {
  padding: 4px;
}
.error-404 .search-submit {
  padding: 0.5em 1em;
  cursor: pointer;
}

/*---------------Blog-List----------------*/
.blog .inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blog__item {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}
body.theme-snow .blog__item {
  background: var(--snow-bg-item);
}
body.theme-dark .blog__item {
  background: var(--dark-item-color);
}
@media (prefers-color-scheme: dark) {
  body.theme-auto .blog__item {
    background: var(--dark-item-color);
  }
}

/*# sourceMappingURL=main.css.map */
